---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const pageTitle = '关于我';
const identity = {
  firstName: 'tluuuu',
  country: 'China',
  occupation: '技术撰稿人',
  hobbies: ['摄影', '观鸟', '棒球']
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Writing Docs'];

const skillColor = 'navy';
const fontWeight = 500;
const textCase = 'uppercase';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />

    <h1>{pageTitle}</h1>
    <p>以下是关于我的几个事实：</p>
    <ul>
      <li>我的名字是{identity.firstName}.</li>
      <li>我住在{identity.country}。我的职业是{identity.occupation}。</li>
      {
        identity.hobbies.length >= 2 ? (
          <li>
            我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}
          </li>
        ) : null
      }
    </ul>
    <p>我的技能：</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <Footer />
  </body>
</html>
